{% if letter_head %}
{{ letter_head }}
{% endif %}

{% set conf = frappe.db.get_value("Configuracion Regional", "Configuracion Regional", ["timbrado", "valido_desde", "valido_hasta"], as_dict=True) %}
{% set company = frappe.db.get_value("Company", doc.company, ["name", "comercial_name", "company_heading", "ruc",
"habilitacion"], as_dict=True) %}
{% set address = frappe.db.get_value("Address",{"is_your_company_address":1}, ["address_line1", "city", "state",
"country", "phone", "fax"], as_dict=True) or "" %}

<h3 class="text-center">{{company.comercial_name or doc.company}} </h3>
<p class="text-center" style="margin-bottom: 1rem">
    <b>{{ company.name }} RUC.: {{ company.ruc or "" }}</b><br>
    {% if address %}
    {{address.address_line1}}<br>
    {% endif %}
    {% if address.phone or address.fax %}
    <b>
        {% if address.phone %}
        Tel.:{{address.phone}}
        {% endif %}
        {% if address.fax %}
        Tel.:{{address.fax}}
        {% endif %}

    </b>
    <br>
    {% endif %}
    {% if address.city %}
    {{address.city}}
    {% endif %}
    {% if address.state %}
    {{address.state}}
    {% endif %}
    {% if address.country %}
    {{address.country}}
    {% endif %}

</p>

{% if company.company_heading %}
<p>{{company.company_heading}}</p>
{% endif %}
<br>
<table class="tbl-header">
    <tr>
        <td width="25%"><b>Timbrado No:</b></td>
        <td width="25%">{{conf.timbrado}}</td>
        <td width="25%"><b>Cond. Venta:</b></td>
        <td width="25%">Contado</td>
    </tr>
    <tr>
        <td width="25%"><b>Valido desde:</b></td>
        <td width="25%">{{frappe.format_value(conf.valido_desde, {"fieldtype":"Date"})}}</td>
        <td width="25%"><b>Valido Hasta:</b></td>
        <td width="25%">{{frappe.format_value(conf.valido_hasta, {"fieldtype":"Date"})}}</td>
    </tr>
    <tr>
        <td width="25%"><b>Fecha:</b></td>
        <td width="25%">{{doc.posting_date}}</td>
        <td width="25%"><b>Nro. Interno:</b></td>
        <td width="25%">3091482</td>
    </tr>
</table>
<br>
<p>
    <b>{{ _("Customer") }}:</b> {{ doc.name }}<br>
    <b>{{ _("RUC") }}:</b> {{ frappe.db.get_value("Customer", doc.customer, "ruc") }}<br>
    <b>{{ _("Tel") }}:</b> {{ doc.customer_name }}<br>
    <b>{{ _("Direccion") }}:</b> {{frappe.db.get_value('Address', doc.customer_address, "address_line1") or "-"}}<br>
</p>
<br>
<!--Items -->
<table class="tbl-items-header">
    <tr>
        <td width="20%">Cant.</td>
        <td width="20%">Cond</td>
        <td colspan="3" class="text-center">Producto</td>
    </tr>
    <tr>
        <td width="20%">NCM</td>
        <td width="20%">Precio</td>
        <td width="20%">Exento</td>
        <td width="20%">Gravado</td>
        <td width="20%">T.IVA</td>
    </tr>
</table>

{%if doc.get("items") | length > 0 %}
<table class="tbl-items-details">
    {% for item in doc.get("items") %}
    <tr>
        <td width="20%">{{item.qty}}</td>
        <td width="20%">{{item.item_code}}</td>
        <td colspan="3" class="text-center">{{item.item_name}}</td>
    </tr>
    <tr>
        <td width="20%">3926.10</td>
        <td width="20%">{{frappe.format_value(item.rate, {"fieldtype": "Float", "precision":2})}}
        <td width="20%">0</td>
        <td width="20%">{{frappe.format_value(item.amount, {"fieldtype": "Float", "precision":2})}}
        <td width="20%" class="text-right">10</td>
    </tr>
</table>
<table class="tbl-items-subtotal">
    <tr>
        <td colspan="2"> Sub Total</td>
        <td> </td>
        <td colspan="2" class="text-right">{{ frappe.format_value(doc.get("net_total"), {"fieldtype": "Currency"})}}</td>
    </tr>
    <tr>
        <td colspan="2">(-) Descuento</td>
        <td> </td>
        <td colspan="2" class="text-right">{{ frappe.format_value(doc.get("discount_amount"), {"fieldtype": "Currency"})}}</td>
    </tr>
    <tr>
        <td colspan="2">Total a Pagar</td>
        <td> </td>
        <td colspan="2" class="text-right">{{ frappe.format_value(doc.get("base_grand_total"), {"fieldtype": "Currency"})}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<table class="tbl-summary">
    <tr>
        <td width="35%"><b>Sub Totales</b></td>
        <td width="10%"></td>
        <td width="30%" class="text-right"><b>Liquidacion</b></td>
        <td width="25%" class="text-right"><b>IVA</b></td>
    </tr>
    <tr>
        <td width="35%">Total Exento</td>
        <td width="10%">{{doc.currency}}</td>
        <td width="30%" class="text-right">0</td>
        <td width="25%" class="text-right">0</td>
    </tr>
    <tr>
        <td width="35%">Total Gravado 10%</td>
        <td width="10%">{{doc.currency}}</td>
        <td width="30%" class="text-right">0</td>
        <td width="25%" class="text-right">0</td>
    </tr>
    <tr>
        <td width="35%">Total IVA</td>
        <td width="10%">{{doc.currency}}</td>
        <td width="30%" class="text-right">0</td>
        <td width="25%" class="text-right">0</td>
    </tr>
</table>
<br>
<br>
<p>
    <b>Original: Cliente</b><br>
    Duplicado: Archivo Tributario<br>
</p>
<br>
<br>
<p>{{ company.habilitacion or ""}}</p>
<p>{{ doc.terms or "" }}</p>